*,*::before,*::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;

}

body{
  margin: 0;
  padding: 0;
  width:100%;
  min-height: 95vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsla(200,100%,10%,1);
  /* background-image:linear-gradient(45deg,red,yellow,cyan,green) ; */
  --header-load-time: 400ms;
  --content-load-time: 400ms;
  --dp-load-time:800ms;
  --dp-load-delay: calc(var(--header-load-time)+var(--content-load-time));
  color:white;

  
}

:root{
  --hue:200;
  --hue-profile: 150;
  --hue-teaching: 100;
  --hue-webprojects: 50;
  --hue-contact: 0;

  --saturation: 50%;
  --foreground-lightness:85%;
  --background-lightness:10%;
  --anchor-saturation:100%;
  --foreground-color:hsl(var(--hue),var(--saturation), var(--foreground-lightness));
  --background-color:hsl(var(--hue),var(--saturation), var(--background-lightness));
  --anchor-color:hsl(var(--hue), var(--anchor-saturation), var(--foreground-lightness));
}



a{
  color: var(--anchor-color);
  text-decoration: none;
  margin: 0.5rem;
}

a:hover{
  opacity:0.7;
  background-color: var(--anchor-color);
  color: var(--background-color); 

}

.section {
  background-color: var(--background-color);
  color: var(--foreground-color);
  /* margin:1% 12%; */
  padding: 1% 3%;
  padding-top: 10%;
  text-align: left;
  min-height:100vh;
  animation: content-load var(--content-load-time) linear var(--header-load-time);
  transform: scale(0) ;
  animation-fill-mode: forwards;
}

#home{
  --hue:var(--hue-home);
  --foreground-color:hsl(var(--hue),var(--saturation), var(--foreground-lightness));
  --background-color:hsl(var(--hue),var(--saturation), var(--background-lightness));
  --anchor-color:hsl(var(--hue), var(--anchor-saturation), var(--foreground-lightness));
}

#profile{
  --hue:var(--hue-profile);
  --foreground-color:hsl(var(--hue),var(--saturation), var(--foreground-lightness));
  --background-color:hsl(var(--hue),var(--saturation), var(--background-lightness));
  --anchor-color:hsl(var(--hue), var(--anchor-saturation), var(--foreground-lightness));
}

#teaching{
  --hue:var(--hue-teaching);
  --foreground-color:hsl(var(--hue),var(--saturation), var(--foreground-lightness));
  --background-color:hsl(var(--hue),var(--saturation), var(--background-lightness));
  --anchor-color:hsl(var(--hue), var(--anchor-saturation), var(--foreground-lightness));
}
#webprojects{
  --hue:var(--hue-webprojects);
  --foreground-color:hsl(var(--hue),var(--saturation), var(--foreground-lightness));
  --background-color:hsl(var(--hue),var(--saturation), var(--background-lightness));
  --anchor-color:hsl(var(--hue), var(--anchor-saturation), var(--foreground-lightness));
}


#contact{
  --hue:var(--hue-contact);
  --foreground-color:hsl(var(--hue),var(--saturation), var(--foreground-lightness));
  --background-color:hsl(var(--hue),var(--saturation), var(--background-lightness));
  --anchor-color:hsl(var(--hue), var(--anchor-saturation), var(--foreground-lightness));
}





.biobox {
  width:100%;
  padding:none; 
  margin:none;
  overflow:auto;
  display:flex;
  justify-content: center;
  align-items: center;

}

.shortbio {
  padding:4%; 
  text-align: left;
  float:left;
  width:60%;
}
.shortbio div{
  display:inline-block;
  margin: 3px;
}
.dpbox{
  width:25%;
  height:25%;
  float:left;
  display:flex;
  justify-content: center;
  align-items: center;
}
.dp{
  float:left;
  overflow:auto;
  position: relative;
  animation: dp-load var(--dp-load-time) ease-in 800ms;
  animation-fill-mode: forwards;
  transform: translateX(-200%);
  opacity:0;
}


h1 {
  text-align: center;
  /* color: hsla(200, 100%, 100%, 1); */
  font-size: xx-large;
  font-weight: bold;
}

h2 {
  text-align: left;
  font-size: x-large;
  /* color: rgb(182, 49, 49); */
  
}

h3 {
  text-align: left;
  /* color: green; */
  font-size: large;
}

p {
  text-align: left;
  font-size: medium;
}

li{
  padding-left: 30px;
  margin-bottom:5px;
}

.quote {
  background-color: rgba(0,0,0,0.5);
  /* color:white; */
  height: 300 px ; 
  padding: 1%; 
  opacity:0.8;
  text-align: center;
  margin: auto;
  width: 50%;
}

.logo {
  width: 100%;
  display:block;
}
.logo img{
  height: 10%; 
  width: 10%;
}

.logo p{
  width:80%; 
  padding-right: 5%;  
  vertical-align: center; 
  float: left;
}

footer{
  float:bottom;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  background-color: rgba(0,0,0,0.5);
  /* color: whitesmoke; */
  text-align: center;
  padding:15px;

}

footer a{
 text-decoration: none;
 /* color:white; */
}


/* MOBILE FRIENDLY */

@media screen and (max-width: 600px) {




  /* .section {
    margin: 4% 4%;

  } */
  .biobox {
    display:grid; 
    place-items: center;
  }
  .dpbox {
    height:40%;
    width:40%

  }

  .shortbio{
    text-align: center;
    display:block;
    width:90%;
  }

  h1{
    font-size: x-large;
  }
  h2, h3{
    font-size: large;
  }

  footer a{
    font-size: small;
  }

}


@keyframes content-load {
  0% {
    transform: scale(0) ;
    opacity: 0;
  }
  25%{ 
    transform: scale(0.85) ;
    opacity: 0.25;
  }
  50%{ 
    transform: scale(0.95) ;
    opacity:.5;
  }
  75%{ 
    transform: scale(1.05) ;
    opacity: .75;
  }
  100% {
    transform: scale(1) ;
    opacity:1
  }
  
}

@keyframes dp-load {
  0% {
    transform: translateX(-100%) rotate(-100deg);
    opacity:0;
  }

  70%{ 
    transform: translateX(10%) rotate(10deg) ;
    opacity:.7;
  }
  100% {
    transform: translateX(0%) rotate(0deg);  
    opacity:1;
  }
  
}