/*html{
	color: blue;
}*/

body{
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  /*background-color: lightblue;*/
}

#content{
  padding:20% 0 20% 0;
  margin-top: 60px; /* Add a top margin to avoid content overlay */
  font-size: 25px;
  text-align: justify;
}

#content h1 {
  text-align: center;
  /*margin-top: 0px;*/
  /*background-color: #ccc;*/
  color: Dodgerblue;
  font-size: 40px;
  font-weight: bold;
}

#content h2 {
  text-align: left;
    font-size: 32px;
  /*background-color: #ddd;*/
  color: rgb(182, 49, 49);
  border: 2px solid  rgb(182, 49, 49);
  padding: 10px;
  border-radius: 10px;
  
}

#content h3 {
  text-align: left;
  /*background-color: #eee;*/
  color: green;
  font-size: 28px;
}

#content p {
  text-align: left;
  font-size: 25px;
}


.pagetitle {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.pagetitle:hover {
  float: left;
  font-size: 20px;
  color: cyan;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.quote {
  background-color: yellow;
  border: 2px solid green; 
  height: 300 px ; 
  padding: 30px; 
  color: green; 
  border-radius: 100px;
  text-align: center;
  margin: auto;
  width: 50%;
}