

body{
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image:linear-gradient(45deg,black,cyan,red) ;
}
a{
  color: dodgerblue;

}

a:hover{
  background-color: rgba(255,255,0,0.6);
}

#content {
  margin:1% 12%;
  padding: 1% 3%;
  text-align: left;
  background-image: linear-gradient(to right,whitesmoke,lightyellow);
  min-height:100%;
}

.biobox {
  width:100%;
  padding:none; 
  margin:none;
  overflow:auto;
  display:flex;
  justify-content: center;
  align-items: center;

}

.shortbio {
  padding:4%; 
  text-align: left;
  float:left;
  width:60%;
}
.shortbio div{
  display:inline-block;
  margin: 3px;
}
.dpbox{
  width:25%;
  height:25%;
  float:left;
  display:flex;
  justify-content: center;
  align-items: center;
}
.dp{
  float:left;
  overflow:auto;
  position: relative;

}


h1 {
  text-align: center;
  color: Dodgerblue;
  font-size: xx-large;
  font-weight: bold;
}

h2 {
  text-align: left;
  font-size: x-large;
  color: rgb(182, 49, 49);
  
}

h3 {
  text-align: left;
  color: green;
  font-size: large;
}

p {
  text-align: left;
  font-size: medium;
}

li{
  padding-left: 30px;
  margin-bottom:5px;
}

.quote {
  background-color: whitesmoke;
  border: 2px solid green; 
  height: 300 px ; 
  padding: 1%; 
  color: green; 
  text-align: center;
  margin: auto;
  width: 50%;
}

.logo {
  width: 100%;
  display:block;
}
.logo img{
  height: 10%; 
  width: 10%;
}

.logo p{
  width:80%; 
  padding-right: 5%;  
  vertical-align: center; 
  float: left;
}

.footer{
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  color: whitesmoke;
  text-align: center;
  padding:15px;

}

.footer a{
 text-decoration: none;
 color:white;
}


/* MOBILE FRIENDLY */

@media screen and (max-width: 600px) {

  #content {
    margin: 1% 2%;

  }
  .biobox {
    display:grid; 
    place-items: center;
  }
  .dpbox {
    height:40%;
    width:40%

  }

  .shortbio{
    text-align: center;
    display:block;
    width:90%;
  }

  h1{
    font-size: x-large;
  }
  h2, h3{
    font-size: large;
  }

  footer a{
    font-size: small;
  }

}

