/* Add a black transparentbackground color to the top navigation */
nav {
  background-color: rgba(0,0,0,.6);
  text-align: center;
  animation: topnav-load var(--header-load-time) ease-in;
  position:fixed;
  top:0;
  width:100%;
  z-index: 1;
  display:flex;
  justify-content: flex-end;
}


/* Style the links inside the navigation bar */
nav > a, .dropdown>a {
  color: white;
  font-weight: bold;
  /* border-radius: 5%; */
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: large;
  margin:.5rem;
  /* animation: topnav-link-load 300ms ease-in; */
  
}

/* Change the color of links on hover */
nav > a:hover, .dropdown>a:hover {
  border:none;
}


/* COMMON FLOAT */
.dropdown, nav a{
  display: inline-block;
}

/* Add a red background color to navbar links on hover */
nav>a:hover, .dropdown>a:hover {
  background-color: red;
  border: none;
  color:white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255,255,255,0.9);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  animation: none;
}

/* Links inside the dropdown */
.dropdown-content >a {
  float: none;
  color: rgba(0,0,0,0.9);
  padding: 1rem 1.5rem;
  margin:0;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: left;
  /* background-color: #eee; */
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: dodgerblue;
  color:#eee;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Hide the hamburger icon that should open and close the topnav on small screens */
nav a.icon {
  display: none;
}

.hamburger{
  display:none;
}

/* MOBILE */
@media screen and (max-width: 768px) {
  
  .hamburger{
    display: block;
    float:left;
    background-color: white;
    
  }
  nav{
    flex-direction: column;
    display:flex;
  }
  nav>a, .dropdown>a{
    display:none;
    animation: topnav-load 400ms ease-in-out;
  }
  nav>a.is-active, .dropdown>a.is-active {
    display:block;
    
  }

  /* Do not show the dropdown menu on hover when on mobile */
.dropdown:hover .dropdown-content {
  display: none;
}

nav>a:hover, .dropdown>a:hover {
  background-color: inherit;
  color:inherit;
}
  
  /* nav> a,.dropdown>a  {
    font-size: medium;
    margin:0%;
    padding: 15px 5px;
    
  } */
  
  
  
}


@keyframes topnav-load {
  0% {
    transform: translateY(-500%);
  }
  100% {
    transform: translateY(0);
  }
  
}

@keyframes topnav-link-load {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
  
}
