
.social{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content:center;
text-align: center;

}


.social-images{
  font-size: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 8px;
  border-radius: 50%;
  /* margin-bottom: -25px; */
  padding: 0px;
  /* margin-top:25px; */
  background-color: none;
  border:none;
  /* display: block; */

}


.social-images:hover img{
  opacity: 0.8;
  background-color: white;

}



