#webprojects{
    padding: 5rem 5vw;
}
.webproject-box{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1rem;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    perspective: 800px;
}
.webproject-item{
    background-color: rgba(255,255,255,0.8) ;
    color:#333;
    padding:2rem;
    width:20rem;
    height: 20rem;
    transition:  500ms;
    transform-origin: center;

}
.webproject-item:hover{
    background-color: lightyellow ;
    color:black;
    cursor: pointer;
    transform: rotatey(6deg);
}
.webproject-item>h2{
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--background-color);
    transition: font-size 300ms, padding 300ms, color 300ms;
}
.webproject-item:hover>h2{
    font-size: 1.6rem;
    color:red;
    padding: 1rem 0rem;
}

